<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width",initial-scale="1.0">
        <title>User Registration</title>
    </head>
    <body>
        <h1>User Registration</h1>
        <form method="post">
            {% csrf_token %}

        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required>
        
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        
        <label for="Phone_number">Phone_number:</label>
        <input type="Phone_numebr" id="Phone_number" name="Phone_number" required>
        
        <label for="dob">Date of Birth :</label>
        <input type="dob" id="dob" name="dob" required>

        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br></br>

        <input type="submit" value="register">  
    </form>

    <p>Allready have an account? <a href= "/login" >Go to main page</a></p>
</body>
</html>
        

    